.generalForm {
    margin-top: 15px;
    margin-left: 10px;
    width: 155px;
}

.formBlock {
    margin-bottom: 10px;
}

.formButton {
    text-align: center;
}

.user {
    margin-top: 15px;
    margin-left: 10px;
    float: left;
}

.userData {
    margin-bottom: 10px;
}